services:
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9090:9090"
    volumes:
      - minio_data:/data
    env_file:
      - ./minio/.env
    command: server /data --console-address ":9090"
    networks:
      - pisio-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      retries: 10
    
  mysql:
    image: mysql:8
    container_name: mysql
    env_file:
      - ./mysql/.env
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - pisio-network

  config-server:
    build: ./config-server
    container_name: config-server
    ports:
      - "8888:8888"
    env_file:
      - ./config-server/.env
    networks:
      - pisio-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8888/actuator/health" ]
      interval: 10s
      retries: 10
      start_period: 30s
      timeout: 5s

  discovery-server:
    build: ./discovery-server
    container_name: discovery-server
    ports:
      - "8761:8761"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    env_file:
      - ./discovery-server/.env
    networks:
      - pisio-network
    depends_on:
      config-server:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 10s
      retries: 10
      start_period: 30s
      
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    env_file:
      - ./api-gateway/.env
    networks:
      - pisio-network
    depends_on:
      config-server:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
    restart: on-failure
    
  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    env_file:
      - ./auth-service/.env
    networks:
      - pisio-network
    depends_on:
      config-server:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
    restart: on-failure
    
  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8082:8082"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    env_file:
      - ./user-service/.env
    networks:
      - pisio-network
    depends_on:
      config-server:
        condition: service_healthy
      mysql:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
    restart: on-failure

  incident-service:
    build: ./incident-service
    container_name: incident-service
    ports:
      - "8083:8083"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    env_file:
      - ./incident-service/.env
    networks:
      - pisio-network
    depends_on:
      config-server:
        condition: service_healthy
      mysql:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
    restart: on-failure
    
  storage-service:
    build: ./storage-service
    container_name: storage-service
    ports:
      - "8084:8084"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    env_file:
      - ./storage-service/.env
    networks:
      - pisio-network
    depends_on:
      config-server:
        condition: service_healthy
      minio:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
    restart: on-failure

  moderator-service:
    build: ./moderator-service
    container_name: moderator-service
    ports:
      - "8085:8085"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    env_file:
      - ./moderator-service/.env
    networks:
      - pisio-network
    depends_on:
      config-server:
        condition: service_healthy
      mysql:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
    restart: on-failure
    
  incident-reporting-frontend:
    build: ./incident-reporting-frontend
    container_name: incident-reporting-frontend
    ports:
      - "4200:80"
    depends_on:
      api-gateway:
        condition: service_started
    networks:
      - pisio-network

networks:
  pisio-network:
    driver: bridge

volumes:
  minio_data:
  mysql_data:
