<div class="login-container">
    <mat-card class="login-card" appearance="raised">
        <mat-card-title class="login-title">Prijava na sistem</mat-card-title>
        <br><br>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field appearance="outline">
                    <mat-label>Korisničko ime</mat-label>
                    <input matInput formControlName="username" type="text">
                    <mat-error *ngIf="loginForm.get('username')?.invalid">Unesite korisničko ime</mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="outline">
                    <mat-label>Lozinka</mat-label>
                    <input matInput formControlName="password" type="password">
                    <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">Unesite lozinku</mat-error>
                </mat-form-field>

                <div><mat-error>{{ loginErrorMessage }}</mat-error></div>
        
                <div class="buttons">
                    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Prijavi se</button>
                    <button mat-button color="primary" (click)="register()">Registracija</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
  