.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}
  
.register-card {
    background-color: #e8eaf6;
    width: 400px;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.register-title {
  text-align: center;
  color: #3f51b5;
}
  
mat-form-field {
    width: 100%;
}
  
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
  